:root{
    --linear_gradient: linear-gradient(90deg, #C217F6, #000000, #C217F6)
}

*{
    font-family: Arial;
}

body{
    background: var(--linear_gradient);
}

input, button{
    border-radius: 5px;
}

button:hover{
    background-color: #D02090;
    color: white;
}

#sla{

    width: 100%;
    height: 50vh;
    display: grid;
    place-items: center; 
    display: grid;

}